.steps {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 101;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
}

.steps__mainAside {
  display: grid;
  place-items: center;
}

.steps__main {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1.5rem;
  display: flex;
  max-width: 600px;
}

.steps__mainFooter {
  width: 100%;
}

.aside__mainBody {
  padding: 1rem;
  max-width: 370px !important;
}

.steps__mainBodyTitle {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: #403f4c;
  margin-bottom: 1rem;
  line-height: 3.2rem;
}

.steps__mainBodySubtitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 1.3rem;
  font-weight: 400;
  color: #403f4c;
  margin-bottom: 1rem;
}

.steps__mainBodyStepsStep {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.steps__mainBodyStepsStepNumber {
  font-size: 2.2rem;
  font-weight: 800;
  color: #3185fc;
}

.steps__mainBodyStepsStepContent h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
}

.steps__mainBodyStepsStep:last-of-type {
  margin-top: 1.2rem;
}

.btn-continue,
.btn-cancel {
  all: unset;
  cursor: pointer;
  padding: 0.8rem 3rem;
  background-color: #403f4c;
  font-size: 1.3rem;
  font-weight: 400;
  color: #f3e0e9;
  text-align: center;
  border-radius: 0.8rem;
  border: 1px solid transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.btn-cancel {
  background-color: transparent;
  color: #403f4c;
  border-color: #403f4c;
}

.btn-cancel:hover {
  transition: all ease-in-out 0.25s;
  background-color: #3185fc;
}

.btn-continue:hover {
  transition: all ease-in-out 0.2s;
  background-color: #3185fc;
  color: #282831;
  border: 1px solid #403f4c;
}
