* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #f3e0e9;
}
